header{
    background-color:#f5ded3;
    height: 70px;
}
h1{
    text-align: center;
}

.container-fluid {
    padding-top: 25px;
    /* border: solid 5 px red;
    background: red; */
    width: 90vw;
}
.latinVerbiage {
    padding: 20px;
}
.industryFilterButtons {
    border: black solid 10 px;
}
.top-three-num{
    text-align: center;
    font-size: 75px;
}

.top-three-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dfdfdf
}

.top-three-body{
    text-align: center;
    width: 200px;
    margin: auto;
}

.button:hover{
    color: #eec77f !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
  
}
    /*background-color: #999999;
    color:#ffffff ;*/
/*color: #494949 !important;
border-radius: 50px;
border-color: #494949 !important;
transition: all 0.3s ease 0s;*/
.button{
    color: #000000 !important;
    text-transform: uppercase;
    background: #ffffff;
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    /*padding: 20px;*/
    border: 2px solid #f5ded3!important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    /*border: 1px solid #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background-color: #ffffff;*/
}

.button.active{
    border: 1px solid #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background-color: #ffffff;
}
.top-three-button{
    margin: auto;
    display: block;
    margin-top: 20px;
}

.top-three-card{
    border-radius: 30px;
    padding: 60px;
    background-color: #ffffff;
    margin-left: 6.25vw;
    box-shadow: 0 4px 8px 0 rgba(209, 209, 209, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;

}

.rest-result-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}

.section-divider{
text-align: center;
margin-top: 95px;
margin-bottom: 80px;

}
.footer{
    background-color: #f5ded3;
    padding-top:200px;
}


